################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VB.NET/Console-NetFramework/.vs/Console-NetFramework/v16/Server/sqlite3
